.blossom {
  height: 15px;
  width: 300px;
}

.blossomContainer {
  padding: 1000px;
}

.webText {
  font-family: "Dosis";
}
.iroh{
  width: auto;

}
.benefitsText{
  font-family: "Dosis";
  font-size: 5px;

}
.row{
  padding-top: 50px;
  row-gap: 20px;
  justify-content: space-between;

}